@{
    ViewData["Title"] = "Home Page";
}

<div class=".container-fluid">
    <h1 class=".col-lg-12 text-center">Our discussions:</h1>
</div>

<div class="container align-content-center message-color rounded">
    
    @for (int i = 0; i < 20; i++)
    {
    <div>
        <div class=".col-12">Creator User name and statistics</div>
        <div class="col-12">
            <p>
                Text of the theme blabalblalblablalblalblalblablalbllab
            </p>
        </div>
    </div>
    }
    
</div>
